body { 
    background: url(../images/bookstore.jpg) no-repeat center center fixed; 
    opacity: 0.25;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}